<h4>Registre-se:</h4>
<form action="/user/registred" method="post">

    <label for="Nome">Nome:</label>
        <input type="text" class="form-control" name="Nome" required placeholder="Digite o nome">
    <label for="Email">Email:</label>
        <input type="text" class="form-control" name="Email" required placeholder="Digite o email">
    <label for="Senha">Senha:</label>
        <input type="password" class="form-control" name="Senha" required placeholder="Digite a idade">
    <button type="submit" class="btn btn-success mt-4">Criar Conta</button>

</form>