
{{#each admins }}

<h4>Crie seu post: </h4>
<form action="/admin/edited" method="post">

    <label for="Titulo">Titulo:</label>
        <input type="text" class="form-control" name="Titulo"  value="{{Titulo}}" placeholder="Digite o titulo" required>
        <input type="hidden" name="id" value="{{id}}">
    <label for="Conteudo">Conteudo:</label>
        <textarea name="Conteudo" id="Conteudo" cols="30" rows="10" class="form-control" placeholder="Digite o conteudo" required>{{Conteudo}}</textarea>
        <input type="hidden" name="id" value="{{id}}">
    <button type="submit" class="btn btn-success mt-4">Editar Conteudo</button>
    

</form>

{{/each}}






