<h4>Crie seu post: </h4>
<form action="/admin/posted" method="post">

    <label for="Titulo">Titulo:</label>
        <input type="text" class="form-control" name="Titulo" placeholder="Digite o Titulo" required>
    <label for="Conteudo">Conteudo:</label>
        <textarea name="Conteudo" id="Conteudo" cols="30" rows="10" class="form-control"  placeholder= "Digite o conteudo" required></textarea>
    <button type="submit" class="btn btn-success mt-4">Criar Conteudo</button>
    

</form>